body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 20px;
    max-width: 600px;
    margin: auto;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-top: 10px;
  }
  
  input, button {
    margin-top: 5px;
    padding: 10px;
    font-size: 16px;
  }
  
  #responseMessage {
    margin-top: 20px;
    font-weight: bold;
  }

  .loader {
    border: 6px solid #f3f3f3; /* Light grey */
    border-top: 6px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 1s linear infinite;

    margin: 0 auto;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  